.notecompo{
    display:flex;
}
.horlogecompo{
    display:flex;
    justify-content:center;
}
.calcompo{
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
  }
.titre{
    display:flex;
    justify-content:center;
}
  