.container{
    width:100vw;
    height :100vh;
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    display :grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:50px 1fr 1fr 1fr;
}
.todolistcompo{
    display:flex;
}

.notecompo{
    flex-wrap:nowrap;
    align-content: flex-start;
}
.horlogecompo{
    display:flex;
}
.calcompo{
    justify-content:space-between;
    justify-content: flex-end;
  }
.titredash{
    display:flex;
    justify-content:flex-end;
    width: 799px;
    height: 59px;
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-size: 20px;
    color: #000000;
}
  