.calendrier{
    display:flex;
  }

.datedujour{
  width:140px;
  height:300px;
  display:flex;
  justify-content:center;
  color: aquamarine;
}

.affichage{
  display:flex;
  width:140px;
  height:140px;
  background-color: blueviolet;
}