.timer {
    width: auto;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: right;
}

.container {
    padding-top: 100px;
}

.timer_container {
    background-color: bisque;
    width: 20vw;
    padding-left: 1em 6rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0, 0, 0, 0, 4);
}

.stop,
.restart {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.stop {
    margin-left: 15px;
}