/*
.timer { 
    width: 100%;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;

}
*/
.container {
    padding-top: 100px;
}


.Todolist_container2 {
    width: 400px;
    height: 500px;
    font-size: 20px;
    display:flex;
    justify-content: flex-start;
    background: rgb(229, 200, 220);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.mission-container {
    width: 300px;
    height: 90px;
    font-size: 10px;
    display:flex;
    justify-content: flex-start;
    background-color: rgb(196, 169, 196);
    border-radius: 6rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0, 0, 0, 0.4)
}

.start {
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(103, 180, 154);
    left: 263px;
    top: 164px;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0, 0, 0, 0.4)
}

.stop {
    left: 39px;
    top: 51px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(155, 155, 155);
    width: 100px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0, 0, 0, 0.4)
}

.text {
    font-size: 10px
}

.position-mission {
    top: 10%
}

